@page "/"
@using PirarteTreassure.Classes;
@inject GameEngine ge

<h1>Game</h1>
<button class="btn btn-primary" @onclick="() => IsFightOn = ge.Challenge()">Challenge</button>
<button class="btn btn-primary" @onclick="() => AttackValues = ge.Attack()">Hero Attack</button>

<div>
    @(IsFightOn ? "Fight" : "Flee")
</div>

<div>
    @if (AttackValues.Dead)
    {
        <h3>Moster killed</h3>
    }
    else if (AttackValues.Hit)
    {
        <h3>You did @AttackValues.Damage to the moster</h3>
    }
    else
    {
        <h3>You swing and miss</h3>
    }
</div>

@code{
    bool IsFightOn = false;
    (bool Hit, double Damage, bool Dead) AttackValues;
}
